#yoho-header{width: 100%;}
#yoho-header .wrapper{width: 100%;
                        height: 32px;
                        line-height: 32px;
                        font-size: 12px;
                        background-color: #f4f4f4;}
#yoho-header .wrapper .center-content{
    width: 1150px;margin: 0 auto;
}
.left{padding: 0 5px;
    position: relative;
float: left;}
.left span{
                width: 16px;
                height: 12px;
                display: inline-block;}
.left a{color: #000;}  
.yoho-group-list{position: absolute;
                display: none;
                width: 190px;
                top: 32px;
                margin-left: -5px;
                background-color: #f4f4f4;
                padding: 20px 0 20px 20px;
                z-index: 1000;}   
.left:hover {background-color:  #dcdcdc} 
.left:hover .yoho-group-list{display: block}   
.yoho-group-list a{color: #9196a0;
                   font-size: 14px;}
.yoho-group-list li:hover a {color: #000;}
.center{color: #444;
        font-size: 12px;
        margin-left: 20px;
        padding: 0 1px;
        height: 32px;float: left}
.center span{display: inline-block;
            background-size: 123px 122px;
            width: 15px;
            height: 14px;
            margin-top: -2px;
            margin-right: 2px;color: #d71d32;}
.center a{ color: #d71d32;}
.right{float: right;}   
.right li{float: left;
        padding-right: 10px;
        position: relative;
        // &:hover{
        //     color: red;
        // }
    }

.hi{vertical-align: top;}
.right li a{color: #8e8e8e;}
.tag-seprate{    width: 0;
            margin-top: 11px;
            margin-right: 12px;
            height: 14px;
            float: left;
            border-left: 1px solid #dcdcdc;}
.myyoho span{color:#8e8e8e }
.myyoho{
    &:hover{background-color: #eaeceb;}
}  
// .right li:nth-of-type(4){
//     &:hover .nav-drop-down{display: block}
// }
.nav-drop-down{top: 32px;
        margin-left: 1px;
        width: 88px;
        position: absolute;
        display: none;
        background-color: #eaeceb;
        z-index: 100;
        li{
            padding: 0;
            position: relative;
            width: 88px;
            height: 33px;
            border-top: 1px solid #c9c9c9;
            box-sizing: border-box;
            line-height: 33px;
            text-align: center;}
            a{
                width: 88px;
                height: 33px;
                line-height: 33px;
                box-sizing: border-box;}}
.we-chat{ font-size: 12px;
          color: #86bf4a;.huo{color: #86bf4a;position: relative;}.app-box{position: absolute;
                    top: 12px;
                    margin-left: -28px;
                    width: 146px;
                    padding: 20px 0 14px;display: none;}}      
.phoneapp{
    color: #d71d32;.phone{  color: #d71d32;}.box{
        position: absolute;
        top: 12px;
        margin-left: -18px;
        width: 146px;
        padding: 20px 0 14px;display: none;}  
    }
                        
.right li{
            &:nth-child(6):hover .nav-drop-down{
                display: block;
            } 
            &:nth-child(7):hover .app-box{
                display: block;}
            &:nth-child(8):hover .box{
                    display: block;}  }
           
 #yoho-header .head-wrapper{width: 100%;
    .center-content{width: 1150px;margin: 0 auto;}.buy{width: 175px;height: 55px;position: absolute;left: 44%;margin-top: 37px;}
    .main-nav-list{       
    vertical-align: top;
    padding-top: 47px;
    float: left;}li{float: left;
        padding: 8px 22px 5px;
        text-align: center;}
    .cure {
        color: #fff;
        background-color: #3a3a3a;a{ color: #fff;font-size: 15px;}}}
 .name-cn a{color:#000;font-size: 15px; }
 .name-en a{color:#8e8e8e;font-size:15px; }       
.search{float: right;
        width: 378px;
        padding-right: 18px;
        margin-top: 40px;.search-s{width: 320px;
            height: 28px;
            box-sizing: border-box;
            display: inline-block;}form{background-color: #3a3a3a;
                border: 1px solid #3a3a3a;
                overflow: hidden;}input{width: 240px;
                    height: 28px;
                    border: none;
                    background: #fff;
                    box-sizing: border-box;
                    padding-left: 10px;}}       
.search-s form .search-btn{    background: url(../img/pic10.jpg) no-repeat 50%;
    width: 78px;
    height: 28px;
    float: right;
    border: none;
    cursor: pointer;}  
.search-hot{width: 320px;
            height: 27px;
            box-sizing: border-box;
            overflow: hidden;
            display: inline-block;zoom: 1;li{float: left;}span{display: inline-block;
                font-size: 12px;
                color: #b0b0b0;
                margin-right: -35px;}}        
.go-cart{width: 30px;height: 30px;}.che{
    width: 30px;
    height: 30px;
}  
.go-cart{float: right;margin: 38px -360px 0 0;position: relative;} 
.cart-wrapper{position: absolute;
    top: 34px;
    left: -230px;
    width: 267px;
    height: 322px;
    z-index: 1000;
    background: #f8f8f8;
    display: none;}  
.go-cart:hover .cart-wrapper {display: block}             

#yoho-header .nav-wrapper{
    height: 40px;
    width: 100%;
    position: relative;    background-color: #3a3a3a;.center-content{width: 1150px;margin: 0 auto;}.xian{line-height: 40px;
        // padding-right: 46px;
        box-sizing: border-box;
        margin-right:2px;
        // position: relative;
        display: inline-block;}.xing{ color: #fff;
            font-size: 14px;
            line-height: 14px;
            display: inline-block; }
          
}
.sub li:hover .xing{
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;}
.category-list:hover a{
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
} 
.third-wrapper{width:100%;
            height: 410px;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 41px;
            display: none;
            padding: 30px 0;
            background-color: #f8f8f8;
            z-index: 900;.center-content{width: 1150px;margin: 0 auto;}dl{
                        float: left;
            width: 278px;
            height: 352px;
            box-sizing: border-box;
            border-left: 1px solid #ccc;
            padding: 0 50px;
            }dt{width: 180px;
                padding-bottom: 10px;
                border-bottom: 1px solid #000;
                line-height: 18px;
                margin-bottom: 20px;}dd{line-height: 14px;
                    height: 14px;
                    margin-bottom: 24px;}}

.third-wrapper dl:first-child {
    width: 228px;
    border-left: 0;
    padding-left: 0;
}   
.third-wrapper dl dd{
    line-height: 14px;
    height: 14px;
    margin-bottom: 24px;a{color:#000;a{color: #a1a1a1}}
}           
.third-wrapper dl .hot{color: #d71d32}
.sub li:nth-child(3):hover .third-wrapper{display: block;}
.code-down{position: fixed;
            top: 260px;
            right: 20px;
            width: 117px;
            padding-top: 20px;
            border: none;
            background-color: transparent;
            z-index: 990;
            display: block;.code-img{background:url(../img/pic22.png)no-repeat;background-size: 100% 100%;
                 width: 116px;
                height: 116px;}.code-title{
                    color: #000;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
                }
            }
.icon{
    position: absolute;
    top: 0;
    right: -4px;
    display: inline-block;
    // font-size: 30px;
    cursor: pointer;
}
.home-page{width: 1150px;margin: 10px auto 0;}
.slide-container{width: 510px;}
.home-page .slider-wrapper{
    position: relative;
    width: 1150px;
    height: 450px;
    overflow: hidden;ul{
        position: relative;
        height: 100%;
    }li{height: 450px;height:1150px;position: absolute; opacity: 0;transition: opacity .8s;}.active{opacity: 1;}
} 
#btn button{border: none;}
#left{position: absolute;
     left: 0px; top: 200px;opacity: 0.3;}
#btn button:hover{
    opacity: 0.7;
 }       
#right{position: absolute;
    left: 1082px; top: 200px;opacity: 0.3;} 
#btnlist{
    width: 1148px;
    height: 55px;
    margin: 6px auto 0;
    padding-left: 2px;
    float: left;
}span{float: left;height: 55px;margin-right: 4px;}
#btnlist span.active{
  opacity: 0.8;
}
.singlehot{
    margin-top: 20px;
    margin-left: -8px;
}.floor-header{
    position: relative;
    margin:100px 0 40px;
}.title{
    margin: 0 auto;
    width: 298px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
}
.singlehot li {
    margin-left: 8px;
    margin-bottom: 8px;
    float: left;
}a{
    width: 185px;
    height: 248px;
}
.g-list{float: left;}
.singlehot li:hover{
    opacity: 0.7;
}
.floor-ad img{width: 100%}

#lun{
    width: 100%;
  
}.preference{
    width: 1150px; 
    height: 457px;
    margin: 0 auto;
    overflow: hidden;
    #brand{
        width: 1150px;
        height: 175px;
        overflow: hidden;
        position: relative;
        
    }
}

.lunbo{
    height:175px ;
    width: 2298px;
    position: absolute;
    li{ 
        width: 378px;margin-right: 5px;
        float: left;
    }
}

.pai{
    margin-top:10px;
}
.recommend{width: 1150px;
margin: 0 auto;}
.recommend .floor-header{
    margin: 80px 0 40px;position: relative;
}.floor-title{
    margin: 0 auto;
    width: 298px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #000;
    font-size: 16px;
    text-align: center;
}
.recommend .floor-header .header-navs{
    position: absolute;
    padding: 10px 0;
    top: 0;
    right: 0;
    font-size: 14px;
}a{color: #333;}
.tpl-body{
   margin-bottom: 8px;
}.tpl-nav{
    width: 185px;
    float: left;
    height: 506px;
    margin-right: 8px;
}.tpl-keywords{
    margin-bottom: 8px; 
}
.tpl-nav .keywords0 {          width: 100%;
      margin-bottom: 10px;
      height: 100%;
      float: left;
 } 
 .tpl-nav .keywords1 {          width: 100%;
    margin-bottom: 10px;
    height: 100%;
    float: left;
}           
.tpl-category {
    height: 228px;
    padding: 10px 0;
    background-color: #f8f8f8;}.yi{
        float: left;
        width: 50%;
        height: 51px;
        line-height: px;
        font-size: 14px;
        text-align: center;
        color: #000;
      background-color: #f8f8f8; } 
     .ku{
        float: left;
        width: 378px;
       
        height:260px;
        
     }
     .ku i:hover{opacity: 0.7;}
    .typess{
        float: left;
        width: 579px;
        height: 512px;
    }.tu2{
        float: left;
        margin: 0px -2px 15px 10px;
    }
   .typess .tu2:hover{
       opacity: 0.7;
   }
.products{
    float: left;
    height: 298px;
    margin-left: 3px;
}.tu3{
    float: left;
    margin: 10px 7px 0 0;
}
.products .tu3:hover{
    opacity: 0.7;
}
.commodity{width: 1160px;
    margin: 0 auto;}
.commodity .floor-header{
        margin: 80px 0 40px;position: relative;
 }
    .commodity .floor-header .header-navs{
        position: absolute;
        padding: 10px 0 0 0;
        top: 0;
        right: 0;
        font-size: 14px;
    }a{color: #333;}

#wrap100 dl{
    width:222px;
    height: 382px;
    float: left;
    margin-left:10px;
    
}.biao img{
    width: 222px;
    height: 298px;
}
#wrap100 p{
    
     text-align: center;
     margin-top: 8px;
}     
#wrap100 .biao:hover{opacity: 0.7;}
  
    
.footer{
    font-size: 12px;
}.footerbottom{
    width: 100%
}
.footer .promise{
    padding: 20px 0 10px;
    background: #000;
}
.center-content{
    width: 1150px;margin: 0 auto;
}
.footer .subscribe {
    border: 1px solid #262626;
    width: 240px;
}
.footer #subscribe input {
    width: 180px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    border: none;
    margin: 0;
    background: #000;
}
.footer .subscribe  {
    display: block;
    float: right;
    margin-top: -32px;
    margin-right: 12px;
    font-size: 20px;
    line-height: 28px;
   
}
.footer .footer-help {
    background: #000;
    font-size: 12px;}
.footer .footer-help>div {
        padding: 15px 0;
        border-top: 1px solid #262626;
    }
.left8{
    float: left;
}
.footer .footer-help li {
    width: 164px;
}
.footer .footer-help p {
   line-height: 24px;
}
.footer .footer-help  span {
    color: #fff;
    float: inherit;
}

.yoho-footer .footer-help p a {
    color: #666;
}
.footer{
    box-sizing: border-box;
}
.footer .footer-link {
    background: #000;
    padding: 10px 0 14px;
    font-size: 12px;
}

.footer .footer-link .about-us {
    line-height: 20px;
    color: #666;
    padding-left:92px;
    position: relative;
}
.footer .footer-link .left-flag {
    margin-top:-14px;
    margin-left: -107px;
    position: absolute;}
 .footer .footer-link .left-flag .govicon {
     
        float: left;
        border-radius: 2px;
        margin-right: 8px;
        background: #fff;
        width: 26px;
        height: 34px;
    }
    .footer .footer-link .links {
        word-break: keep-all;
    }
    .footer .footer-link .about-us a {
        color: #666;
    }
    .footer .footer-link .about-us a {
        color: #666;
    }
    .links .h{
        float: initial;
        height: 55px;
        margin-right: 4px;
    }
    